# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/
venv

# Editors
.vscode/

# Generated data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Trained models
models/*
!models/.gitkeep

# Jupyter
.ipynb_checkpoints/